<div class="container-fluid body">
  <div class="row">
    <div class="col-md-2"></div>

    <% if @inspiration %>
    <div class="col-md-8 show-item">
      <% if flash[:notice].present?  %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>

      <%= link_to inspiration_path(@inspiration) do %>
        <%= render "item" %>
      <% end %>

      <div class="row links">
        <div class="col-sm-6">
          <%= link_to "See another quote", "/inspirations" %>
        </div>
        <div class="col-sm-6">
          <%= link_to "Add an inspiring quote", new_inspiration_path %>
        </div>
      </div>
    </div>
    <% else %>
    <% end %>

    <div class="col-md-2"></div>
  </div>
</div>
